@import url('normalize.css');

body{
    font-family: 'Montserrat', sans-serif;
    background: #010101;
    color: #D5D8DD;
    max-width: 100%;
    max-height: 100%;
}

body{
    opacity: 0;
}

@keyframes body {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    animation: body 1s ease-in-out 1s forwards;
}

.wrapper{
    color: #D5D8DD;
    display: flex;
    height: 100vh;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #39383D;
}

.logo_img{
    width:100px;
    margin:0 0 0 50px
}

.rules{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.rules_header{
    padding: 0 0 0 20px;
    font-size: 32px;
    font-weight: 700;
}

.rules_list{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 20px;
    border: solid #39383D;
}

.rules_list_item{
    opacity: 0;     /*изначально текст прозрачный(для анимации) */
    margin: 15px;
    transition: 1000ms;
}

/* Анимация появления текста на странице */
@keyframes rules_list_item {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.rules_list_item {
    animation: rules_list_item 1s ease-in-out 1s forwards;
}

.rules_list_item:hover{
    color:#fff;
}

.game_content{
    margin: 26px 0 0 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random_number{
    font-size: 40px;
    margin: 15px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #D5D8DD;
    border-radius: 15px;
}

.answer_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.guess{
    margin: 15px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
}

.ans_button{
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: 300;
    border: solid 2px #39383D;
    color: #D5D8DD;
    background-color: #010101;
    margin-bottom: 10px;
    transition: 300ms;
    text-align: center;
}

.ans_button:hover{
    transform: scale(1.05);
    border: solid 2px #0077ff70;
}

.animate__flip{
    border: solid 2px #0075ff;
}

.bet_label{
    font-size: 40px;
    margin: 20px;
}

.slider_bet{
    width: 300px;
}

.choose_bet{
    margin: 20px;
    font-size: 32px;
    width: 300px;
    text-align: center;
    background: #010101;
    color:#D5D8DD;
    border: solid 1px #39383D;
}

.play_button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 500;
    transition: 0.2s;
}

.play_button:hover{
    transform: scale(1.1);
}

.info{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_text{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
}

.play_btn_field{
    width: 250px;
    height: 100px;
}

.balance{
    align-self: flex-start;
    margin: 40px 0 40px 40px;
    font-size: 42px;
}

.last_game_info{
    align-self: center;
    justify-self: center;
    padding: 15px 70px 15px 15px;
    margin: 10px 0 0 40px;
    border: solid #39383D;
    opacity: 0;
}

@keyframes last_game_info{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.last_game_info{
    animation: last_game_info 1s ease-in-out 1s forwards;
}

.last_game_header{
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.last_game_stroke{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.last_game_item{
    margin: 10px 10px 10px 0;
    list-style-type: none;
}

.no_balance{
    color: #D5D8DD;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no_balance > h1{
    font-size: 50px;
}

.no_balance > h2{
    margin: 0;
}

#restart{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 500;
    transition: 0.2s;
    margin: 30px;
}
#restart:hover{
    transform: scale(1.1);
}

.last_game_income{
    align-self: center;
    justify-self: center;
    margin: 20px 0 0 0;
    width: 90%;
    height: 50px;
}

.last_income{
    margin: 0;
    padding: 0;
    font-size: 32px;
    color:#D5D8DD;
    opacity: 0;
    transition: 1000ms;
}

/* Анимация появления текста на странице */
@keyframes last_income {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.last_income {
    animation: last_income 0.2s ease-in-out 0.2s forwards;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.result_info{
    font-size: 35px;
    padding: 40px 0 0 0;
    height: 100px;
}

@keyframes result_info {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.result_info {
    animation: result_info 0.2s ease-in-out 0.2s forwards;
}

footer{
    border-top: solid 1px #39383D;
    font-size: 14px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_disclaimer{
    padding: 10px 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_disclaimer > a{
    text-decoration: underline;
    color: #D5D8DD;
}

.footer_text{
    padding: 0;
    margin: 1px 0 0 0;
    text-align: center;
}

.footer_copyright{
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
}

.left_side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lang_buttons{
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.lang_btn{
    margin: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    background: #010101;
    color:#D5D8DD;
    border: solid 1px #39383D;
    text-align: center;
}

#btn_ru:hover{
    transform: scale(1.05);
    border: solid 1px #0077ff70;
}

#btn_en:hover{
    transform: scale(1.05);
    border: solid 1px #0077ff70;
}

.animate__swing{
    border: solid 2px #0075ff;
}

.right_side{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#balance{
    margin: 4px 50px 0 10px;
    font-size: 38px;
}

@media (max-width: 953px) {
    .wrapper{
        color: #D5D8DD;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
    }

    .header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 2px #39383D;
    }

    .lang_buttons{
        align-self: center;
        display: flex;
        flex-direction: row;
        margin: 0 0 0 10px
    }

    .lang_btn{
        margin: 5px;
        font-size: 14px;
        width: 50px;
        height: 30px;
        text-align: center;
        background: #010101;
        color:#D5D8DD;
        border: solid 1px #39383D;
    }

    .animate__swing{
        border: solid 2px #0075ff;
    }

    #balance{
        font-size: 28px;
        margin: 2px 40px 0 10px;
    }

    .balance{
        align-self: flex-start;
        margin: 10px 0 10px 10px;
        font-size: 30px;
    }

    .logo_img{
        width:50px;
        margin:0 0 0 50px
    }

    .rules{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 3;
    }

    .game_content{
        margin: 26px 0 0 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order:1;
    }

    .info{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order:2;
    }

    footer{
        border-top: solid 1px #39383D;
        font-size: 14px;
        font-weight: 200;
        display: flex;
        margin: 100px 0 0 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        height:auto;
    }

    .wrapper{
        color: #D5D8DD;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        order: 1;
    }

    .logo_img{
        width:50px;
        margin: 0;
    }

    .header{
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: solid 2px #39383D;
        order: 1;
    }

    .balance{
        margin: 10px;
        font-size: 26px;
        align-self: center;
    }


    #balance{
        font-size: 24px;
        margin: 0px 40px 0 10px;
    }

    .rules{
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 3;
    }

    .game_content{
        margin: 26px 0 0 0;
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: center;
        order:1;
    }

    .info{
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        order:2;
    }

    .last_game_info{
        align-self: center;
        justify-self: center;
        padding: 15px 70px 15px 15px;
        margin: 0;
        border: solid #39383D;
        opacity: 0;
    }

    footer{
        border-top: solid 1px #39383D;
        font-size: 14px;
        font-weight: 200;
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        order: 7;
    }

    .footer_text{
        padding: 0 10px 0 10px;
        margin: 1px 0 0 0;
        text-align: center;
    }

    .no_balance{
        color: #D5D8DD;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        order: 4;
    }
    .lost_window{
        order:4;
    }
}

