@import url('normalize.css');

body{
    font-family: 'Montserrat', sans-serif;
    background: #010101;
    color: #D5D8DD;
    max-width: 100%;
    max-height: 100%;
}

/* body{
    color: #D5D8DD;
    display: flex;
    opacity: 0;
}

@keyframes body {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body{
    animation: body 1s ease-in-out 1s forwards;
} */
/* Delete this, when enable up*/
.wrapper{
    color: #D5D8DD;
    display: flex;
    opacity: 1;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px #39383D;
}



.rules{
    width: 33%;
    display: flex;
    flex-direction: column;
}

.rules_header{
    padding: 0 0 0 20px;
    font-size: 32px;
    font-weight: 700;
}

.rules_list{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 20px;
    border: solid #39383D;
}

.rules_list_item{
    opacity: 0;     /*изначально текст прозрачный(для анимации) */
    margin: 15px;
    transition: 1000ms;
}

/* Анимация появления текста на странице */
@keyframes rules_list_item {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.rules_list_item {
    animation: rules_list_item 1s ease-in-out 1s forwards;
}

.rules_list_item:hover{
    color:#fff;
}

.game_content{
    margin: 26px 0 0 0;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random_number{
    font-size: 40px;
    margin: 15px;
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #D5D8DD;
    border-radius: 15px;
}

.radio_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.guess{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
}

.radio-input{
    width: 20px;
    height: 20px;
}

.radio-input:checked + label{
    font-weight: 500;
}

.bet_label{
    font-size: 40px;
    margin: 20px;
}

.slider_bet{
    width: 300px;
}

.choose_bet{
    margin: 20px;
    font-size: 32px;
}

.play_button{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 500;
    transition: 0.2s;
}

.play_button:hover{
    transform: scale(1.1);
}

.allert_msg{
    font-size: 25px;
    opacity: 0;
}

@keyframes allert_msg {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.allert_msg {
    animation: allert_msg 0.5s ease-in-out 0.5s forwards;
}

.allert_box{
    padding-top: 100px;
}

.info{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.balance{
    align-self: flex-start;
    margin: 40px;
    font-size: 42px;
}

.last_game_info{
    align-self: center;
    justify-self: center;
    padding: 15px 40px 15px 15px;
    margin: 200px 0 0 40px;
    border: solid #39383D;
    opacity: 0;
}

@keyframes last_game_info{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.last_game_info{
    animation: last_game_info 1s ease-in-out 1s forwards;
}

.last_game_header{
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.last_game_item{
    margin: 20px 0;
    list-style-type: none;
}

.no_balance{
    color: #D5D8DD;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no_balance > h1{
    font-size: 50px;
}

.no_balance > h2{
    margin: 0;
}

#restart{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: 500;
    transition: 0.2s;
    margin: 30px;
}
#restart:hover{
    transform: scale(1.1);
}

.last_game_income{
    align-self: center;
    justify-self: center;
    margin: 20px 0 0 0;
    width: 90%;
    height: 50px;
}

.last_income{
    margin: 0;
    padding: 0;
    font-size: 32px;
    align-self: center;
    justify-self: center;
    color:#D5D8DD;
    opacity: 0;
    transition: 1000ms;
}

/* Анимация появления текста на странице */
@keyframes last_income {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.last_income {
    animation: last_income 0.2s ease-in-out 0.2s forwards;
}

.result_info{
    font-size: 35px;
    padding: 40px 0 0 0;
    height: 100px;
}

@keyframes result_info {
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.result_info {
    animation: result_info 0.2s ease-in-out 0.2s forwards;
}